.gtr {
    margin: 0;
  }
  .news_itemcard2 {
    height: 200px;
  }
  .yang1 {
    height: 250px;
  }
  .image {
    height: 100vh;
    width: 100%;
  }
  .car_item {
    width: 100%;
    position: relative;
  }
  .car_item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.433);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .colimg1 {
    width: 400px;
    position: relative;
    left: -30px;
  }
  /* .colimg1::before{content:''; position:absolute; top:-10px; z-index: -1; right:-20px; width:100%; height:100%; background-color:rgb(5, 5, 162); border-radius:50%; } */
  .colimg1 img {
    width: 100%;
  }
  .text h1 {
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 6px black;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
    line-height: 1.5;
    text-align: center;
  }
  .iconsHead {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    position: absolute;
    bottom: -20px;
  }
  .sarlavha{color:rebeccapurple; font-size: 32px; text-align:center}

  .tumanlar{background-color: white; padding:30px;}
  .ahref {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #243779;
  
    color: white;
    background: #1b3aaa;
  }
  .hov a {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid blue;
  margin-top: 10px;
    color: white;
    background: #1b3aaa;
  }
  
  .fio {
    font-size: 23px;
    margin-top: 20px;
  }
  .qabul,
  .icon {
    font-size: 18px;
  }
  .icon img {
    width: 40px;
    height: 40px;
  }
  .icon {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px !important;
  }
  .ahref:hover {
    color: #243779;
    background-color: white;
    border-color: transparent;
  }
  .hov a:hover {
    color: blue;
    background-color: white;
    border-color: transparent;
  }
  
  .stas {
    width: 100%;
    padding: 130px 0px;
    background-image: url("https://www.webturizm.ru/storage/photos/uzbekistan/uzbekistan-tashkent-23467.jpg");
    position: relative;
    background-position: center center;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
  }
  .stas_item i {
    color: gold !important;
    font-size: 45px;
  }
  .stas_item {
    flex: 20%;
    z-index: 324;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .stas_item p {
    text-align: center;
    color: white;
  }
  .stas_black {
    background-color: rgba(0, 0, 0, 0.474);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
  .tit {
    font-size: 18px;
  }
  .num {
    font-size: 28px;
    color: gold !important;
    font-weight: bold;
  }
  .news {
    margin-top: -20px;
  }
  .news_item {
    padding: 20px;
    position: relative;
  }
  
  .vaqt {
    font-size: 13px;
    color: rgb(172, 170, 170);
  }
  .vaqt i {
    color: rgb(172, 170, 170);
  }
  .bar {
    color: #1b3aaa;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
  }
  .bar:hover {
    color: red;
  }
  .elem {
    margin-top: 40px;
    height: 180px;
    padding-left: 5%;
    display: flex;
    align-items: center;
    border-top: 2px solid #243779;
    border-bottom: 2px solid #243779;
  }
  .elem img {
    width: 30px;
  }
  .elem h2 {
    color: #0e1942;
    font-size: 23px;
  }
  .lrt {
    display: none !important;
  }
  
  .colT {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
  }
  .colT:hover {
    color: #1b3aaa;
  }
  .colT p {
    margin-left: 10px;
    margin-top: 13px;
    font-size: 15px;
  }
  .gal {
    padding: 60px 30px;
  }
  .gal img {
    width: 100%;
    height: 200px;
    border-radius: 30px 0px;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .gal img:hover {
    transform: scale(1.2, 1.2);
    border-radius: 0px 0px;
  }
  .pp {
    font-size: 20px;
    color: rgb(140, 139, 139);
    margin-top: 20px;
  }
  .sliderHomiy {
    width: 100%;
    border-top: 2px solid #243779;
    padding-top: 50px;
    border-bottom: 2px solid #243779;
    padding-bottom: 50px;
    height: max-content;
    text-align: center;
  }
  
  .toolpat {
    border-radius: 10%;
    padding: 10px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid lightgray;
  }
  .sliderHomiy p {
    color: rgb(139, 139, 140);
    font-size: 13px;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
  }
  .sliderHomiy img {
    margin-bottom: 40px;
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
  .yil {
    width: 100%;
    margin-top: 30px;
  }
  .hov {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0px;
    left: 0px;
    padding: 15px 30px;
    opacity: 0;
    transition: 0.5s;
  }
  .hov:hover {
    opacity: 1;
  }
  .hov_item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .tel {
    position: absolute;
    bottom: 30%;
    left: 25%;
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .hov_btn {
    background-color: blue;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid rgb(38, 38, 240);
  }
  .hov_btn:hover {
    background-color: white;
    color: blue;
  }
  .lrt {
    display: none;
  }
  .ptr {
    text-align: center;
    width: 100%;
  }
  .tel a {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 23px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(26, 179, 6);
    margin-top: 10px;
    color: white;
    background: rgb(26, 179, 6);
  }
  .tel a:hover {
    color: rgb(26, 179, 6);
    background-color: white;
    border-color: transparent;
  }
  
  @media (min-width: 991px) and (max-width: 1000px) {
    .image {
      height: 400px;
    }
  }
  
  #nav {
    font-size: 20px;
    margin: auto;
    width: 100vw;
    margin-right: 24px;
  }
  @media (max-width: 991px) {
    #nav {
      width: auto;
      margin: auto;
      margin-left: 0px;
      text-align: center;
    }
  }
  
  @media (min-width: 451px) and (max-width: 991px) {
    .birinchi {
      margin-left: 0px !important;
    }
    .image {
      height: 450px;
    }
    .text h1 {
      font-size: 27px;
    }
    .text {
      top: 200px;
    }
    .navT {
      top: 20px;
    }
    .rahbar h2 {
      font-size: 20px;
    }
    .fio {
      font-size: 18px;
      font-weight: bold;
    }
    .qabul {
      font-size: 15px;
    }
    #mediaa12,
    #mediaa11 {
      height: 70px !important;
      width: 80px !important;
  
      margin: 20px;
    }
    .ahref {
      margin-left: -12px !important;
      margin-top: -18px !important;
    }
    .colimg1 {
      padding: 0px;
    }
  
    .stas {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5%;
      height: auto;
    }
    .stas_item {
      flex: 50% !important;
      margin-top: 5%;
    }
    .gtr {
      padding-top: 40px;
    }
    .elem {
      height: 340px;
      overflow: hidden;
    }
    .htr {
      margin-top: 20px;
    }
    .colT p {
      font-size: 18px;
      font-family: "Andale Mono", monospace;
    }
    .hov {
      opacity: 1;
    }
    .hov a {
      margin-top: 35px;
      margin-left: 35px !important;
    }
    .tel {
      bottom: 20%;
    }
  
    .jtr {
      margin-top: 40px;
    }
  
    #mediaa12 {
      width: 15%;
      height: 140px;
      align-items: center;
      justify-content: center;
    }
  
    .ahref {
      margin-top: 10%;
    }
  
    #mediaa11 {
      width: 15%;
      height: 140px;
    }
  }
  
  @media (max-width: 575px) {
    .elem {
      height: 40vh;
    }
  
    .colT {
      margin-top: 10px;
    }
  
    .hov_item {
      line-height: 1%;
    }
    .hov_item div a {
      margin-top: 2%;
    }
    .ManagerItem {
      height: 80px;
    }
  
    .rahbar h2 {
      margin-top: 1px;
      font-size: 17px;
    }
  
    .colimg1 {
      width: 50vw;
      padding: 0 0;
      position: relative;
      top: 30px;
      left: -10px;
      scale: 2;
    }
    .colimg1 img {
      scale: 1.5;
      padding: 0 0;
    }
  
    #mediaa11:nth-child(2) {
      display: none;
    }
    .elem {
      height: auto;
      padding: 6%;
    }
    .htr {
      margin-top: 5%;
    }
    .AdviceImg {
      padding: 5%;
      line-height: 10%;
    }
    .AdviceImgItem {
      padding: 5%;
      justify-content: center;
      margin: auto;
    }
    .AdviceImgItem a img {
      margin: auto;
    }
  
    .stas_item i,
    .stas_item p {
      font-size: 18px;
    }
  
    .icon a {
      font-size: 13px;
    }
  
    .stas_item {
      scale: 0.7;
    }
    .bar {
      width: 100%;
      margin-left: 10%;
      text-align: center;
    }
  }
  @media (max-width: 450px) {
    /* body{width:100%; overflow-x: hidden;} */
    .birinchi {
      margin-left: 0px !important;
    }
    .brand_text {
      width: 60%;
    }
    .text {
      top: 120px;
    }
    .stas {
      width: 100%;
      height: auto;
      padding: 5%;
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .stas_item {
      width: 40%;
      /* flex: 50% !important; */
      height: 20%;
      padding: 2%;
      line-height: 15px;
    }
    .stas {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5%;
      height: auto;
    }
    .stas_item {
      flex: 50% !important;
    }
    .stas_item p i {
      font-size: 3vh;
    }
    .colT {
      padding: 10px;
    }
    .brand_text p {
      font-size: 14px;
    }
    .image {
      height: 300px !important;
    }
    .text h1 {
      font-size: 22px;
    }
    .navT {
      top: 20px;
    }
    .navG img {
      margin-top: 10px;
    }
    .navG .brand_text p {
      width: 100px !important;
      display: none;
    }
    .brand_text p {
      width: 100px !important;
      display: none;
    }
    .lrt {
      display: inline-block;
      font-size: 9px;
    }
    .rahbar div {
      padding: 20px !important;
    }
    .rahbar h2 {
      font-size: 15px;
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    .qabul {
      font-size: 14px;
    }
  
    #mediaa11 {
      height: 70px;
      padding: 3%;
    }
  
    #ahref1 {
      position: absolute;
    }
  
    .ahref {
      position: absolute;
      margin: 0;
      width: 30px;
      height: 30px;
      margin-left: -40%;
    }
  
    .ahref i {
      font-size: 12px;
    }
    #mediaa12 {
      display: flex;
    }
    #mediaa12:nth-child(1) {
      display: none;
    }
  
    .brand_img {
      width: 60px;
      height: 60px;
      padding: 1px;
    }
    .NavbarMenu {
      margin-top: 3%;
    }
  
    .navG {
      padding: 1%;
    }
    .brand_img img {
      width: 100%;
      height: 100%;
      margin-top: 0px;
    }
    .colimg1 {
      overflow: hidden;
      top: 0;
    }
    .bar {
      margin-left: 10%;
      font-size: 3vh;
    }
  }
  @media (max-width: 370px) {
    .ManagerItem {
      height: 60px;
    }
    .rahbar h2 {
      margin-top: -5%;
      font-size: 12px;
    }
    .fio {
      font-size: 2.5vh;
    }
    .qabul {
      font-size: 10px;
    }
    .AdviceImg {
      margin: 0;
      justify-content: center;
    }
  
    .AdviceImgItem img {
      width: 100%;
      height: 100%;
    }
  
    #mediaa12:nth-child(1) {
      display: none;
    }
  
    #mediaa11:nth-child(1) {
      display: none;
    }
  
    .text {
      width: auto;
    }
    .bar {
      margin-left: 5%;
      font-size: 2.5vh;
    }
  
    .text h1 {
      font-size: 2vh;
    }
  
    .colT {
      width: 100%;
      font-size: 2vh;
      margin-top: 0px;
    }
    .htr h2 {
      font-size: 2.5vh;
    }
    .htr {
      width: 100%;
      text-align: start;
      align-items: flex-start;
      cursor: pointer;
    }
    .hov_item a {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    .tel {
      margin-bottom: 5%;
    }
    .tel a {
      width: 38px;
      height: 38px;
      border-radius: 50%;
    }
    .tel a i {
      font-size: 16px;
    }
    .hov_item a i {
      font-size: 13px;
    }
  }
  @media (max-width: 340px) {
    .fio {
      font-size: 1.8vh;
    }
    .htr h2 {
      height: auto;
      font-size: 2vh;
    }
  }
  
  @media (max-width: 320px) {
    .stas {
      width: 100%;
      height: auto;
      padding: 5%;
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .stas_item {
      width: 100%;
      /* flex: 50% !important; */
      height: 15%;
      padding: 2%;
      line-height: 15px;
    }
  }
  @media (max-width: 1000px) {
    .gtr {
      width: 50%;
      margin: auto;
    }
  
    .news_itemcard2 {
      height: 350px;
    }
    .yang1 {
      height: 300px;
    }
  }
  @media (min-width: 1650px) {
    .news {
      margin-top: 0;
    }
    
   .news img{height:350px}
   .navlik{font-size: 22px;}
   .brand_text p{font-size: 22px;}
    .newText{font-size: 20px !important;}
  .text h1{margin-top: 150px;}
  .cardNew{height:500px !important}
  .vaqt{font-size: 18px !important;}
  .elem{width:100%; padding-left:10%}
  .colT p{font-size: 20px;}
  .colT img{width:45px;}
  .htr h2{font-size: 30px;}
  .jtr img{height:300px}
  .gtr img{height:700px}
  .pp{font-size: 26px;}
  .bar{font-size:27px}
  .sliderHomiy p{font-size: 20px !important;}
  .str{width:350px}
  }
  
  .videos_item{padding:20px 10px;}
  .you{width:100%; height:300px; box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}
  
  
        
  .eslatma{
    
    display: flex;
    align-items: center;
    justify-content:center;
    position:fixed;
    bottom:0px; 
    right:0px;
    background-color:white;
    font-size: 16px;
    padding:20px 10px;
    z-index: 6789;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; 
  }
  .eslatma span{margin-left: 20px;
  text-shadow: 1px 1px 4px grey;
  }
  